
  <form [formGroup]="formBank">
  <label>Pais</label>
  <input name="pais" placeholder="pais" formControlName="pais">
  <label>IBAN</label>
  <input name="iban" placeholder="iban"  formControlName="iban">
  <label>Entidad</label>
  <input name="entidad" placeholder="entidad"  formControlName="entidad">
  <label>Sucursal</label>
  <input name="sucursal" placeholder="sucursal" formControlName="entidad">
  <label>DC</label>
  <input name="dc" placeholder="dc"  formControlName="dc">
  <label>Cuenta</label>
  <input name="cuenta" placeholder="cuenta" formControlName="cuenta">
  <button [disabled]="formBank.status=='INVALID'" (click)="submit()">Enviar</button>
</form>
