<h1>Nueva solicitud de comedor</h1>

<h2>Solicitudes</h2>


<h2>Centro</h2>

<app-selector-centro (asignaCentro)="recibeCentro($event)"></app-selector-centro>

<app-centro [centro]="centro"></app-centro>

<h2>Nueva solicitud</h2>

<label>Nombre</label>
<input (keyup)="nombre($event)">
<div *ngIf="(solicitud?.nombre?.length || 0) < 3">
  Nombre demasiado corto
</div>

<label>Apellidos</label>
<input (keyup)="apellidos($event)">



<button (click)="enviar()" [style.color]="(solicitud?.nombre?.length || 0) < 3 ? 'red' : ''">Enviar</button>

<br/>
<br/>
<table>
  <tr>
    <th>Nombre</th>
    <th>Apellidos</th>
    <th>F.Nacimiento</th>
  </tr>
  <tr *ngFor="let solicitud of solicitudes">
    <td>{{solicitud.nombre}}</td>
    <td>{{solicitud.apellidos}}</td>
    <td>{{solicitud.nacimiento | date: 'dd/MM/YYYY'}}</td>
  </tr>
</table>
